<footer class="footer-distributed">
    <div class="footer-left">
        <div class="hidden-xs">
            <p class="footer-company-name">
              
            </p>
        </div>
    </div>

    <div class="footer-center">
        <span>
             Copyright © 2017 Ufone Healthcare Private Limited
             <!--<span class="powerbyrtwo">Powered by RTWO HealthCare Solutions</span>-->
        </span>
         <span class="powerbyrtwo">Powered by RTWO HealthCare Solutions</span>
    </div>
  
        
    

    <div class="footer-right">
        

        <div class="footer-icons social">

            <!--<a class="fa fa-2x fa-google-plus" href="https://plus.google.com" target="_blank"></a>-->
            <a class="fa fa-2x fa-facebook" href="http://www.facebook.com/HelloDoc.co.in" target="_blank"></a>
            <a class="fa fa-2x fa-twitter" href="http://twitter.com/hellodoc16" target="_blank"></a>
            <!--<a class="fa fa-2x fa-youtube" href="http://www.youtube.com" target="_blank"></a>
            <a class="fa fa-2x fa-tags" href="http://blogspot.com/" target="_blank"></a>
            <a class="fa fa-2x fa-pinterest" href="http://www.pinterest.com" target="_blank"></a>
            <a class="fa fa-2x fa-envelope" href="mailto:info@hellodoc.co.in"
                target="_blank"></a>-->
        </div>

    </div>
</footer>