
<section data-ng-controller="EventsController as eventCtrl">
    <table class="table table-hover table-responsive table-striped" ng-init="getEvents()">
        <thead>
            <tr>
            <th>Dentist Name</th>
            <th>When</th>
            <th>Patient Details</th>
            </tr>
        </thead>
         
        <tbody>
            <tr  ng-repeat="event in events | filter:event | filter: myFilter | orderBy: 'start.dateTime'">
                <input type="text" class="form-control" ng-model="event.description" placeholder="Search by Patient name or Contact number...">
                <td>{{event.summary}}</td>
                <td>{{event.start.dateTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm:ss a'}} to {{event.end.dateTime | amDateFormat: 'h:mm:ss a'}}</td>
                <td style="text-align:left">
                    <span ng-show="event.description.split('\n')[0]">{{event.description.split('\n')[0]}}<br></span>
                    <span ng-show="event.description.split('\n')[1]">{{event.description.split('\n')[1]}}<br></span>
                    <span ng-show="event.description.split('\n')[2]">{{event.description.split('\n')[2]}}<br></span>
                    <span ng-show="event.description.split('\n')[3]">{{event.description.split('\n')[3]}}<br></span>
                    <span ng-show="event.description.split('\n')[4]">{{event.description.split('\n')[4]}}<br></span>
                    <span ng-show="event.description.split('\n')[5]">{{event.description.split('\n')[5]}}<br></span>
                    <span ng-show="event.description.split('\n')[6]">{{event.description.split('\n')[6]}}<br></span>
                    <span ng-show="event.description.split('\n')[7]">{{event.description.split('\n')[7]}}<br></span>
                    <span ng-show="event.description.split('\n')[8]">{{event.description.split('\n')[8]}}<br></span>
                    <span ng-show="event.description.split('\n')[8]">{{event.description.split('\n')[9]}}<br></span>
                 </td>
            </tr>
        </tbody>
    
    </table>

</section>
